<section id="top-img">
  <img class="w-100" src="https://i.gyazo.com/1c198712630bbee68dfa53806702aac8.jpg">
  <p>インターネット接続環境で単語帳を使いたいあなたをサポート</p>
  <h2>tan5</h2>
</section>

<script>
jQuery(function(){
  $('#top-img p').hide().fadeIn(2000);
  $('#top-img h2').hide();
})
  setTimeout(function(){ 
    $('#top-img h2').fadeIn(2000);
  }, 2000); 
</script>

<section id="features" class="section-set">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>Features</h2>
        </div>
      </div>
    </div>
    <div class="row row-gutter">
      <div class="col-md-4s col-gutter col-arrange">
        <div class="featured-item">
          <div class="featured-text">
            <h4><i class="fa fa-clock"></i> 新しく学んだ単語を効率よく覚えたい</h4>
            <p><a href="https://science.sciencemag.org/content/319/5865/966">カーピキー2008年の実験</a>によれば、読み書きのインプット型の学習よりも、テスト形式の学習の方が定着率がはるかに良いことが示唆されています。tan5では、問と答えをセットにした学習方式であなたの知識の定着をサポートします。</p>
          </div>
        </div>
        <div class="featured-item">
          <div class="featured-text">
            <h4><i class="fas fa-desktop"></i> パソコンが使える環境ならお仕事中にも</h4>
            <p>新しく聞いたことを後で学び直すためにメモをしたいときってありますよね？でもスマホにメモすると失礼だと感じてしまう人のそばではなかなかバツが悪い。そんなとき、パソコンがある環境なら仕事をしているかのごとくメモが可能！それが即座に単語帳になって一石二鳥！</p>
          </div>
        </div>
        <div class="featured-item">
          <div class="featured-text">
            <h4><i class="fas fa-book"></i> 作成した単語帳を共有</h4>
            <p>学習ツールの作成は勉強時間の半分くらいを占めることもあります。同じテストを受けるのに複数人がそれに時間を費やすのはもったいない。そんなとき、誰かが作った単語帳をシェアすることで、より効率よく学習が可能になります。</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>

<section id="middle-login" class="section-set">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <%= link_to "ログインして使ってみる", login_path %>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="how-to-use" class="section-set">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <h2>How to use</h2>
        </div>
      </div>
    </div>

    <div class="row row-0-gutter">
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/83d5d42c0cbd8797c60c129e4698d5a9.gif" alt="img02" class="w-100">
            <figcaption>
              <h3>1. 単語帳を作成します</h3>
            </figcaption>
          </figure>
          <p>単語帳の名前と科目を記述し、登録ボタンを押します。</p>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/2b39de15f505911d376cb00bbcdcd766.gif" alt="img02" class="w-100">
            <figcaption>
              <h3>2. 単語を単語帳に登録します</h3>
            </figcaption>
          </figure>
          <p>問題と答え（ヒントは任意）を記述し、登録ボタンを押します。</p>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/5ad3d9c19352801a783233acb7e62cf6.gif" alt="" class="w-100">
            <figcaption>
              <h3>3. 単語帳を利用して学習開始</h3>
            </figcaption>
          </figure>
          <p>問題と答えの枠内をクリックすると答え、または次の問題が表示されます。<br>マルやバツを押すことで挑戦数や正答率が計算されます。</p>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/c726943218c7f2557069371075e2c018.gif" alt="" class="w-100">
            <figcaption>
              <h3>単語帳の編集</h3>
            </figcaption>
          </figure>
          <p>自身の作成した単語帳なら下部のボタンを押すことで単語一覧が表示されます。<br>ダブルクリックで編集したり、新しい単語を登録したりできます。</p>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/66ca53b81c94b2b14d08b0e88347cf14.gif" alt="" class="w-100">
            <figcaption>
              <h3>星ボタンを活用しよう</h3>
            </figcaption>
          </figure>
          <p>星を設定することで、単語のフィルタリングが可能です。</p>
        </div>
      </div>
      <!-- end portfolio item -->
      <!-- start portfolio item -->
      <div class="col-md-4 col-0-gutter how-to-use">
        <div class="ot-portfolio-item">
          <figure class="effect-bubba">
            <img src="https://i.gyazo.com/db0d1792a813fafa16c6b9dcc9007f05.gif" alt="" class="w-100">
            <figcaption>
              <h3>自動再生ボタン</h3>
            </figcaption>
          </figure>
          <p>左上のplayボタンを押すことで自動再生されます。歯車ボタンから再生間隔を変更することもできます。</p>
        </div>
      </div>
      <!-- end portfolio item -->
    </div>

  </div><!-- end container -->
</section>

<section id="bottom-login" class="section-set">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <%= link_to "ログインして使ってみる", login_path %>
        </div>
      </div>
    </div>
  </div>
</section>
