<footer>
  <%= debug(params) if Rails.env.development? %>
  <p> 問題点のご報告、お問合わせなどはtwitterにてお願いいたします。</p>
  <p>
    <a href="https://twitter.com/ItsukiN32?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow ItsukiN32</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </p>
  <p> &copy; 2020 @itsuki22 </p>
</footer>

