#top-img {
  width: 100%;
  position: relative;
}
#top-img p {
  font-weight: bold;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 20%;
  left: 50%;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  text-align: center;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#top-img h2 {
  font-weight: bold;
  font-size: 80px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.section-set{
  margin: 30px;
  padding: 20px;
  color: #333333;
}

.section-title > h2, .section-title > a{
  padding-bottom: 20px;
  font-weight: bold;
  font-size: xxx-large;
}

.section-title > a{
  color: white;
  text-align: center;
  font-size: x-large;
  text-decoration: none;
}
.section-title > a:hover{
  text-decoration: none;
}

#bottom-login,#middle-login{ 
  background: #6666ee;
  border-radius: 20px;
}
.featured-item p{ padding: 15px;}

.how-to-use {
  padding: 20px;
  background: aliceblue;
  border-radius: 20px;
  margin-bottom: 20px;
  h3 { padding: 5px;}
  p { padding: 10px;}
}

.how-to-use:nth-child(even){
  background: white;
}
