div.profile-box {
  margin: 15px auto ;
  text-align:center;
  font-size: x-large;
  h1 {
    font-size: xx-large;
  }
  .user-profile-image img{
    border-radius: 50%;
    width: 200px;
    border: 5px black solid;
  }
  div{margin-bottom:10px;}
}

.not-open::after{
  content: "🔒";
  
  
}

.favorited { color: orange !important;}
